.head{
    color:rgb(252, 153, 6) ;
    font-size: 100px;
    font-family: "Kablammo", serif;
    text-align: center;

}
.main-div{
    color: rgb(235, 6, 204);
    font-family: "Rubik Wet Paint", serif;
    padding: 20px;
    text-align: center;
    
}
.middle-div{
    color: blue;
    font-family: "Kablammo", serif;
    padding: 20px;
    text-align: center;
    }
.last-div{
    color: brown;
    padding: 20px;
    font-family: "Kablammo", serif;
    text-align: center;


}
.heading{
    color: red;
    text-align: center;
    font-size: 60px;
    font-family: "Rubik Wet Paint", serif;
}